@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Monda', sans-serif;
}

nav{
    background-color: coral;
    height: 60px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 100px;
}

nav>ul{
    float: right;
    margin-right: 20px;

}

nav>ul>li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav>ul>li>a{
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: rgb(218, 164, 30);
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media screen and (max-width:972px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav>ul>li>a{
        font-size: 14px;
    }
    

}

@media screen and (max-width: 852px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 60px;
        left: -100%;
        text-align: center;    
        transition: all .5s;
    }
    nav>ul>li{
        display: block;
        margin:50px 0;
        line-height: 30px;
    }
    a:hover,a.active{
        background: none;
        color: #f18f1f;
    }

    nav>ul>li>a{
        font-size: 18px;
    }

    #check:checked ~ ul{
        left: 0;
    }

    section{
        /* background: url(nature.jpg) no-repeat;
        background-size: cover;
        height: calc(100vh - 60px); */
        
    }   
}

@media screen and (max-width:430px) {
    label.logo{
        font-size: 20px;
        padding-left: 30px;
    }
}